<div class="columns is-centered">
  <div class="column is-4"></div>
  <div class="column is-4">
    <form action="/login" method="post">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input is-rounded" type="email" name="email" placeholder="EMAIL" required >
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input is-rounded" type="password" name="password" placeholder="PASSWORD" required >
        </div>
      </div>
      <div class="columns">
        <div class="column is-4.5"></div>
        <div class="column is-3">
          <button class="button is-rounded is-info">LOG IN</button>
        </div>
        <div class="column is-4.5"></div>
      </div>
    </form>
  </div>
  <div class="column is-4"></div>
</div>
