<h1>This will be the registration page</h1>
<form action="/register" method="post">
  <input type="text" name="username" placeholder="USERNAME">
  <input type="email" name="email" placeholder="EMAIL">
  <input type="password" name="password" placeholder="PASSWORD">
  <input type="text" name="profilePicture" placeholder="PROFILE PICTURE URL">
  <button>REGISTER</button>
</form>
