<footer class="columns is-centered">
  <div class="columns column is-3">
    <a href="/" class="column is-6">Home</a>
    <a href="/about" class="column is-6">About Us</a>
  </div>
  <p class="column is-6">Made with ❤️ by Freddie</p>
  <p class="column is-3">© 2018 FREDSTAGRAM</p>
</footer>
