<style media="screen">
  .explore{
    width: 81vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: 9vw;
  }

  .explore:hover img{
    opacity: 1;
  }

  .post{
    width: 25vw;
    height: 25vw;
    background: black;
    margin: 1vw;
  }

  .post img{
    width: 25vw;
    height: 25vw;
    transition: opacity 0.6s;
  }

  .post img:hover{
    opacity: 0.5;
  }

</style>
<div class="explore">
  <% photos.forEach(photo => { %>
    <div class="post">
      <a href="/photos/<%= photo._id %>" >
        <img src=" <%= photo.image %> " alt="<%= photo.description %>" />
      </a>
    </div>
    <% }) %>
</div>
