<div class="postbox">
  <% photos.forEach(photo => { %>
    <div class="post">
      <a href="/photos/<%= photo._id %>" >
        <img src=" <%= photo.image %> " alt="<%= photo.description %>" />
      </a>
    </div>
    <% }) %>
</div>
