<h1>This will be the new page</h1>
<form action="/photos" method="post">
  <input type="text" name="image" placeholder="Image URL">
  <input type="text" name="description" placeholder="description">
  <button>POST</button>
</form>
