/* nav bar  */
.navbar{
  border-bottom: 1px solid black;
  font-size: 25px;
  font-family: 'Oleo Script', cursive;
  padding-top: 1vh;
}

#navbar{
  position: fixed;
  width: 100vw;
  z-index: 2;
  margin-top: -11vh;
}

.navbar-brand{
  font-size: 35px;
}

.navbar-end a{
  color: black;
}

.navbar-end a:hover{
  color: black !important;
  background-color: transparent !important;
  border-bottom: 5px solid black !important;
}

.navbar-end a i{
  margin-top: 1.5vh;
}

#nav-logo{
  color: black;
}
#nav-logo:hover{
  background-color: transparent;
  color: black;
}

#nav-logo img{
  max-height: 40px;
}

.navbar div{
    padding-bottom: 0;
}

#top-search{
  width: 20vw;
  margin-bottom: 1vh;
}

main{
  margin-top: 9vh;
}

/* explore page  */
.explore{
  width: 81vw;
  display: flex;
  flex-wrap: wrap;
  margin-left: 9vw;
}

.explore:hover img{
  opacity: 1;
}

.post{
  width: 25vw;
  height: 25vw;
  background: black;
  margin: 1vw;
}

.post img{
  width: 25vw;
  height: 25vw;
  transition: opacity 0.6s;
}

.post img:hover{
  opacity: 0.5;
}


/*  footer */
footer{
  margin-top: 3vh !important;
  text-align: center;
}
footer div a{
  color: black;
}


/*  show page */
#show-box{
  border: solid 1px lightgrey;
  margin-top: 3vh;
}

#poster-show{
  border-bottom: 1px solid lightgrey;
}

#show-page-description{
  margin-bottom: 1vh;
}

#show-page-image{
  max-width: max-content;
  max-height: max-content;
}

#comment-p{
  width: 100%;
}
