main{
  margin-top: 9vh;
  padding-bottom: 4vh;
  background-color: rgb(250, 250, 250);
}

/* nav bar  */
.navbar{
  border-bottom: 1px solid black;
  font-size: 25px;
  font-family: 'Oleo Script', cursive;
  padding-top: 1vh;
}

#navbar{
  position: fixed;
  width: 100vw;
  z-index: 2;
  margin-top: -11vh;
  margin-bottom: 0px !important;
}

.navbar-brand{
  font-size: 35px;
}

.navbar-end a{
  color: black;
}

.navbar-end a:hover{
  color: black !important;
  background-color: transparent !important;
  border-bottom: 5px solid black !important;
}

.navbar-end a i{
  margin-top: 1.5vh;
}

#nav-logo{
  color: black;
}
#nav-logo:hover{
  background-color: transparent;
  color: black;
}

#nav-logo img{
  max-height: 40px;
}

.navbar div{
    padding-bottom: 0;
}

#top-search{
  width: 20vw;
  margin-bottom: 1vh;
}

/* explore page  */
.explore{
  width: 81vw;
  display: flex;
  flex-wrap: wrap;
  margin-left: 9vw;
}

.explore:hover img{
  opacity: 1;
}

.post{
  width: 25vw;
  height: 25vw;
  background: black;
  margin: 1vw;
}

.post img{
  width: 25vw;
  height: 25vw;
  transition: opacity 0.6s;
}

.post img:hover{
  opacity: 0.5;
}


/*  footer */
footer{
  padding-top: 3vh !important;
  text-align: center;
  display: flex;
}

footer div a{
  color: black;
}

/*  show page */
#show-box{
  border: solid 1px lightgrey;
  background-color: white;
  margin-top: 3vh;
}

#poster-show{
  border-bottom: 1px solid lightgrey;
}

#show-page-description{
  margin-bottom: 1vh;
  margin-left: -0.5vw;
}

#show-page-image{
  max-width: max-content;
  max-height: max-content;
}

#comments-section{
  max-height: 55vh;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0 0 0.5vh 0.5vw !important;
}

#comment-p{
  width: 100%;
  word-break: break-all;
}
