main{
  margin-top: 9vh;
  padding-bottom: 4vh;
  background-color: rgb(245, 245, 245);
}

a{
  color: black;
}

.like-button{
  background-color: transparent;
  border: none;
  font-size: 25px;
}

.like-button:focus{
  outline: 0;
}

.unlike-button{
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: red;
  opacity: 0.7;
}

.unlike-button:focus{
  outline: 0;
}

.like-count{
  font-size: 20px;
}

/* home page */
.welcome{
  text-align: center;
}

/* nav bar  */
.navbar{
  font-size: 25px;
  font-family: 'Oleo Script', cursive;
  padding-top: 1vh;
}

#navbar{
  position: fixed;
  width: 100vw;
  z-index: 2;
  margin-top: -11vh;
  margin-bottom: 0px !important;
}

.navbar-brand{
  font-size: 35px;
}

.navbar-end a{
  color: black;
}

.navbar-end a:hover{
  color: black !important;
  background-color: transparent !important;
  border-bottom: 5px solid black !important;
}

.navbar-end a i{
  margin-top: 1.5vh;
}

#nav-logo{
  color: black;
}
#nav-logo:hover{
  background-color: transparent;
  color: black;
}

#nav-logo img{
  max-height: 40px;
}

.navbar div{
    padding-bottom: 0;
}

#top-search{
  width: 20vw;
  margin-bottom: 1vh;
}
/*  Index/explore page */

.explore-postbox{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background: rgb(245, 245, 245);
  position: absolute;
  justify-content: center;
}

.explore-postbox:hover img{
  opacity: 0.5;
}

.explore-post{
  width: 25vw;
  height: 25vw;
  background: black;
}

.explore-post img{
  width: 25vw;
  height: 25vw;
  transition: opacity 0.6s;
}

.explore-post img:hover{
  opacity: 1;
}

/* photo section profile page */
.postbox{
  width: 81vw;
  display: flex;
  flex-wrap: wrap;
  margin-left: 9vw;
}

.post{
  width: 25vw;
  height: 25vw;
  background: black;
  margin: 1vw;
}

.post img{
  width: 25vw;
  height: 25vw;
  transition: opacity 0.6s;
}

.post img:hover{
  opacity: 0.5;
}

/* feed page  */

.picture-by{
  padding-left: 1.5%;
}

.center-text{
  text-align: center;
}

#picture-title{
  margin-top: 2vh;
}

.profile-icon{
  margin: 0.5vh 0 0.5vh 0.5vw;
}

.picture{
  background: black;
  position: relative;
}

.picture img{
  width: 36vw;
  transition: opacity 0.6s;
}

.picture img:hover{
  opacity: 0.3;
}

#picture-container{
  background-color: white;
  margin: 3vh 0;
  padding: 1vh;
  border-radius: 2.5%;
}

#comment-container{
  max-height: 15vh;
  overflow: scroll;
  overflow-x: hidden;
}

.hover-box{
  z-index: 2;
  position: absolute;
  top: 40%;
  color: white;
  font-size: 40px;
  left: 33%;
  opacity: 0;
  width: 40%;
  transition: opacity 0.6s;
}

.picture:hover .hover-box{
  opacity: 1;
}

.hover-box:hover{
  color: transparent;
}
/*  footer */
footer{
  padding-top: 3vh !important;
  text-align: center;
  display: flex;
}

footer div a{
  color: black;
}

/*  show page */
#poster-title{
  margin-top: 1vh;
}

#show-box{
  border: solid 1px lightgrey;
  background-color: white;
  margin-top: 3vh;
  position: relative;
}

#poster-show{
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1vh;
}

#show-page-description{
  margin-bottom: 1vh;
  margin-left: -0.5vw;
}

#show-page-image{
  max-width: max-content;
  max-height: max-content;
}

#comments-section{
  max-height: 35vh;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0 0 0.5vh 0.5vw !important;
}

#comment-p{
  width: 100%;
  word-break: break-all;
}

.comment{
  padding: 1vh;
  border-top: 0.5px solid lightgrey;
}

.love-heart{
  z-index: 2;
  position: absolute;
  color: white;
  font-size: 300px;
  left: 18%;
  top: 20%;
  opacity: 0;
}

@keyframes heartBeat {
  0%{opacity: 0;}
  50%{opacity: 0.8;}
  100%{opacity: 0;}
}
