<div class="columns">
  <div class="column is-3.5"></div>
  <div class="columns column is-5">
    <figure class=" column is-3 image is-128x128">
      <img class="is-rounded" src="<%= profilePicture %>" alt="profile picture">
    </figure>
    <div class="column is-9">
      <h1 class="title"><%=username%></h1>
      <div class="columns">
        <p class="column is-4"><strong>41</strong> posts</p>
        <p class="column is-4"><strong>1000</strong> followers</p>
        <p class="column is-4"><strong>587</strong> following</p>
      </div>
      <p><strong>NAME HERE</strong></p>
      <p>bio would go here. bla bla bla bla</p>
    </div>
  </div>
  <div class="column is-3.5"></div>
</div>
